* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto Mono', monospace;
}
body {
  position: absolute;
  right: 0;
  width: 100%;
  min-height: 100vh;
  object-fit: cover;
  background-image: url(images/bankfront.jpg);
  background-size: cover;
}
.nav {
  display: flex;
  justify-content: space-around;
  height: 50px;
  margin: 30px;
  background: #030000;
  color: #fff;
  border-radius: 30px;
  align-content: center;
}
.company {
  display: flex;
}
.one {
  margin-top: 150px;
  justify-content: center;
  align-content: center;
}
.login {
  background: rgb(0, 166, 255);
  float: right;
  width: 100px;
  height: 35px;
  border-radius: 10px;
  border: none;
  margin-top: 9px;
  margin-left: 250px;
}
.nav h2 {
  margin-top: 9px;
}
.login i {
  color: #fff;
  font-size: medium;
}

.login_modal {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: space-around;
  width: 350px;
  height: 250px;
  padding-left: 15px;
  border: 0.7px solid rgb(0, 166, 255);
  border-radius: 30px;
  margin-left: 450px;
  background: #fff;
}

.btn button {
  background: rgb(0, 166, 255);
  width: 100px;
  height: 35px;
  border-radius: 10px;
  border: none;
  color: #fff;
  font-size: medium;
}

/* modal*/
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  border: 1px solid rgb(9, 9, 9);
  border-radius: 10px;
  z-index: 10px;
  margin-top: 10px;
  width: 50%;
  height: 500px;
  background: #fff;
}

.contactform {
  margin-left: 60px;
}

.modal.active {
  transform: translate(-50%, -50%) scale(1);
}

.modal-header {
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
}

.modal-header .title {
  font-size: 1.25rem;
  font-weight: bold;
}

.modal-header .close-button {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 1.25rem;
  font-weight: bold;
}

.modal-body {
  padding: 10px 15px;
}

#overlay {
  position: fixed;
  opacity: 0;
  transition: 200ms ease-in-out;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: none;
}

#overlay.active {
  opacity: 1;
  pointer-events: all;
}

.message {
  margin-top: 10px;
}
.inputbox {
  position: relative;
  width: 300px;
}
.inputbox input,
.inputbox textarea {
  width: 100%;
  padding: 5px 0;
  font-size: 16px;
  margin: 15px 0;
  border: 1px solid black;
  outline: none;
  resize: none;
  background: transparent;
}
.address input,
.address textarea {
  width: 100%;
  height: 90px;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  border: 1px solid black;
  outline: none;
  resize: none;
  background: transparent;
}
.inputbox span {
  position: absolute;
  left: 0;
  font-size: 16px;
  padding: 5px 0;
  margin-top: 7px;
  pointer-events: none;
  transition: 0.5s;
  color: #666;
}
.inputbox input:focus ~ span,
.inputbox input:valid ~ span,
.inputbox textarea:focus ~ span,
.inputbox textarea:valid ~ span {
  color: #010101;
  font-size: 20px;
  transform: translateY(-20px);
}
.inputbox input[type='submit'] {
  display: flex;
  position: absolute;
  width: 100px;
  z-index: 1;
  background: #0093fb;
  color: #fff;
  border: none;
  padding: 10px;
  font-size: 18px;
  border-radius: 4px;
}
